@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --red: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-gray-blue: hsl(230, 11%, 40%);
  --gray-blue: hsl(231, 7%, 65%);
  --light-gray-blue: hsl(207, 33%, 95%);
  --body-text: "Barlow", sans-serif;
  --header-cta-nav: "Barlow Condensed", sans-serif;

  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  position: relative;
}

body > * {
  margin: 0;
  padding: 0;
}

html::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: -1;
  height: 75%;
  width: 45%;
  border-radius: 0 0 0 100px;
  background-color: var(--light-gray-blue);
}

main {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

header,
section,
footer,
.container,
.subHead,
.cta {
  display: flex;
}

header,
.subHead,
.cta {
  align-items: center;
}

header {
  position: relative;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.logo {
  height: 25px;
}

.logo,
.menuBtn:hover,
.closeBtn:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

.nav {
  position: absolute;
  top: 200%;
  right: 0;
  z-index: 2;
  width: 100%;
  list-style: none;
  padding: 0.5rem 0;
  text-align: center;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  color: var(--dark-blue);
}

.nav li {
  padding: 1rem;
  font-size: 1.25rem;
}

.nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hr,
.accent {
  opacity: 0.5;
}

.hr {
  width: 85%;
  height: 1px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--dark-gray-blue);
}

.accent {
  color: var(--dark-gray-blue);
}

section {
  flex-direction: column-reverse;
}

.container {
  position: relative;
  flex-direction: column;
  height: 50vh;
  width: 100%;
}

.container > * {
  margin: 0;
}

.graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 500px;
}

section {
  font-family: var(--body-text);
}

header,
.subHead,
.cta,
h1 {
  font-family: var(--header-cta-nav);
  text-transform: uppercase;
}

.subHead {
  letter-spacing: 5px;
  color: var(--gray-blue);
}

.newBtn {
  background-color: var(--dark-blue);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  margin-right: 1rem;
  letter-spacing: normal;
}

h1 {
  font-size: 2.25rem;
  color: var(--dark-blue);
}

.bodyTxt {
  font-size: 1.25rem;
  color: var(--dark-gray-blue);
  margin-top: 1rem;
  width: 75%;
}

.cta {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.ctaBtn {
  margin-right: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--red);
  font-weight: bold;
  color: white;
  border-radius: 6px;
}

.ctaBtn:hover {
  cursor: pointer;
  opacity: 0.65;
}

.ctaTxt {
  letter-spacing: 2px;
  color: var(--gray-blue);
}

footer {
  justify-content: center;
}

.dis-none {
  display: none;
}

@media (min-width: 800px) {
  section {
    margin: 6rem 0;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  .graphic {
    width: 900px;
    transform: translate(-25%, -50%);
  }

  .menuBtn,
  .closeBtn {
    display: none;
  }

  .nav {
    position: initial;
    display: flex;
    padding: 0;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  .hr {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--dark-gray-blue);
  }
}
